{% extends "volunteer/base.html" %}

{% block active-charity %}class="active"{% endblock %}

{% block style %}

<link href="{{ STATIC_URL }}m-style/css/m-buttons.css" rel="stylesheet">
<link href="{{ STATIC_URL }}m-style/css/custom.css" rel="stylesheet">
<link href="{{ STATIC_URL }}m-style/css/jquery.fancybox-1.3.4.css" rel="stylesheet">  

{% endblock %}

{% block content %}
<div class="row section" id="portfolio" style="margin-top:-110px">
    <h1 class="text-center">Charities</h1>
    <p class="intro">A look at the different charities that we have available.</p>
      <!-- Start Portfolio Navigation -->
      <nav class="primary m-btn-group toggle-buttons clearfix">
          <ul>
              <li><a href="#" class="m-btn selected" data-filter="*">All</a></li>
              <li><a href="#" class="m-btn" data-filter=".third">Third World</a></li>
              <li><a href="#" class="m-btn" data-filter=".env">Environmental</a></li>
              <li><a href="#" class="m-btn" data-filter=".med">Medical</a></li>
              <li><a href="#" class="m-btn" data-filter=".animal">Animals</a></li>
              <li><a href="#" class="m-btn" data-filter=".edu">Education</a></li>
          </ul>
      </nav>
 
 
        <!-- START Portfolio items -->

      <section class="main clearfix">

        <div class="portfolio">

            <figure class="entry third">
                <img src="{{ STATIC_URL }}volunteer/img/portfolio-image.jpg" alt="">
            </figure>

            <figure class="entry third">
                <img src="{{ STATIC_URL }}volunteer/img/portfolio-image2.jpg" alt="">
            </figure>

            <figure class="entry env">
                <img src="{{ STATIC_URL }}volunteer/img/portfolio-image.jpg" alt="">
            </figure>

            <figure class="entry env">
                <img src="{{ STATIC_URL }}volunteer/img/portfolio-image.jpg" alt="">
            </figure>

            <figure class="entry med">
                <img src="{{ STATIC_URL }}volunteer/img/portfolio-image.jpg" alt="">
            </figure>

            <figure class="entry med">
                <img src="{{ STATIC_URL }}volunteer/img/portfolio-image2.jpg" alt="">
            </figure>

            <figure class="entry animal">
                <img src="{{ STATIC_URL }}volunteer/img/portfolio-image2.jpg" alt="">
            </figure>

            <figure class="entry animal">
                <img src="{{ STATIC_URL }}volunteer/img/portfolio-image.jpg" alt="">
            </figure>

            <figure class="entry edu">
                <img src="{{ STATIC_URL }}volunteer/img/portfolio-image2.jpg" alt="">
            </figure>

            <figure class="entry edu">
                <img src="{{ STATIC_URL }}volunteer/img/portfolio-image2.jpg" alt="">
            </figure>



        </div>

    </section>
  </div>
 {% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}m-style/js/jquery.js"></script>
<script src="{{ STATIC_URL }}m-style/js/custom.js"></script>
<script src="{{ STATIC_URL }}m-style/js/jquery.isotope.min.js"></script> 
{% endblock %}
