{% extends "volunteer/base.html" %}

{% block active-index %}class="active"{% endblock %}

{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1> Give || Take</h1><br>
        <p> Giving people a chance to give back. One step at a time.</br>
        </p>
        <br>
        <p><a href="#" class="btn btn-primary btn-large pull-right">Learn more &raquo;</a></p>
      </div></br> 

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <a href="http://imgur.com/NN1rlfC"><img src="http://i.imgur.com/NN1rlfC.jpg" title="Hosted by imgur.com" /></a>
          <h2> Volunteer. </h2>
          <p>Peter Yao Peter Yao Peter Yao. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <a href="http://imgur.com/32kLhIg"><img src="http://i.imgur.com/32kLhIg.jpg" title="Hosted by imgur.com" /></a>
          <h2>Hdasdfasdf</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <a href="http://imgur.com/WpmK33c"><img src="http://i.imgur.com/WpmK33c.jpg" title="Hosted by imgur.com" /></a>
          <h2>Donate.</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
{% endblock %}